<div class="contendor-principal">

    <div class="contendor-links">
        <div>
            <a href="" class="a">
                <p>
                    Inicio
                </p>
            </a>
        </div>
        <div>
            <a routerLink="/tarea" class="a">
                <p>
                    Registro de tareas
                </p>
            </a>
        </div>
        <div>
            <a routerLink="/inventario" class="a">
            <p>
                Inventario
            </p>
        </a></div>
        <div>
            <a href="" class="a">
                <p>
                    Reporte de daños
                </p>
            </a>
        </div>
        <div>
            <a href="" class="a">
                <p>
                    Cargar mercancia
                </p>
            </a>
        </div>
        <div>
            <a href="" class="a">
                <p>
                    Ayuda
                </p>
            </a>
        </div>
    </div>

</div>
