<!-- <div class="loading-overlay" *ngIf="isLoading">
    <div class="container-pantalla-de-carga">
      <div class="principal1">
        <div></div>
        <div class="logo2">

          <img src="assets/iconos/invorg1.png" alt="" class="logo2-1">

        </div>
        <div class="cuadro-de-textp"><p class="parrafo">Administración, gestión de inventarios y control de bodegas.</p></div>
        
        <div class="barra-de-carga">

          <div class="circulo1"></div>
          <div class="circulo2"></div>
          <div class="circulo3"></div>
          <div class="circulo4"></div>

        </div>



      </div>
      <div class="barrablanca"></div>
      <div class="barra-debajo"></div>
    </div>
  </div>
  
   -->