
<form>
<div class="contenedor-principal">

    <div class="cuadro-contenedor">

        <div class="contendor-organizador-formulario">
        
            <div class="ordenador-formulario">
                   
            
                <div class="contendor-imagen"  data-aos="fade-right" > 
                    <img src="assets/iconos/color729599-logo-proy_Mesa de trabajo 1_Mesa de trabajo 1 3@2x.svg" alt="" class="imagenfondo">
                   
                </div>

                <div class="contendor-ralla">
                    <div class="ralla"></div>
                </div>
                
                <div class="contenedor-formulario-0">
                    
                    <div class="contenedor-formulario-1">
                        <div class="conotenedor-imagen">
                            <img src="assets/iconos/color729599-logo-proy_Mesa de trabajo 1_Mesa de trabajo 1 3@2x (1).svg" alt="">
                        </div>

                        <div class="lavel-formulario">
                            


                            <p class="lavel-formulario-1">
                                Ingresa
                            </p>
                        </div>
                        
                        <div class="campo-1">
                            
                            <label for="" class="campo-1-1">
                                Usuario:
                            </label>
                            
                            <input type="text" id="usuario"   name="usuario" placeholder="Ingresa tu Usuario" class="input-1" required pattern="[A-Za-z0-9]{3,}" title="El usuario debe tener al menos 3 caracteres alfanuméricos.">
                            
                        </div>
                        
                        <div class="campo-2">
                            
                            <label for="" class="campo-1-2">
                                Contraseña:
                            </label>

                            <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa tu Contraseña" class="input-2" required minlength="6" title="La contraseña debe tener al menos 6 caracteres.">
                        </div>
                        
                        <div class="btn-1">
                            
                            <button class="btn-1-1" routerLink="/centro">
                                Ingresar
                            </button>
                        </div>

                    </div>


                </div>

            </div>

        </div>


    </div>

</div>
</form>